//* Color Palette
$ayoosteogreen: rgb(0, 105, 69);
$ayoosteoblue: rgb(0, 135, 167);
$navcolor: rgb(255, 255, 255);

//* Font sizes
$title: 50px;
$intro-text: 30px;
$text-regular: 20px;

//* Text
$paragraph: 650px;
$line-height: 25px;
$article-line-height: 30px;

//* Dimensions
$padding-left: 20px;
$padding-right: 20px;
$padding-bottom: 30px;
$padding-top: 30px;

//* Buttons
$button-font-size: 17px;
$button-padding: 15px;

.italic {
  font-style: italic;
}

.temp-holder {
  padding-top: 200px;
  font-size: 200;
  text-align: center;
}

.solid {
  border-top: 3px solid #bbb;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  width: 80%;
  margin-bottom: 25px;
}

.button-green {
  font-size: $button-font-size;
  color: white;
  background-color: $ayoosteogreen;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;

  i {
    color: white;
    padding-right: 10px;
  }
}

.button-green-div:hover {
  a {
    background-color: white;
    color: $ayoosteogreen;
    border: 2px solid $ayoosteogreen;
  }
  i {
    color: $ayoosteogreen;
  }
}

.button-green-inverted {
  font-size: $button-font-size;
  color: $ayoosteogreen;
  background-color: white;
  padding: 15px;
  border: 2px solid $ayoosteogreen;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  i {
    color: white;
    padding-right: 10px;
  }
}

.button-green-inverted-div:hover {
  a {
    background-color: $ayoosteogreen;
    color: white;
    border: 2px solid $ayoosteogreen;
  }
  i {
    color: $ayoosteogreen;
  }
}

#memberships {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 100px;
  img {
    padding-left: 10px;
    padding-right: 10px;
    width: 220px;
  }
  #io-membership {
    width: 150px;
  }
}

//* blog styling
.blog-article-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: $padding-bottom;
  .blog-text {
    max-width: $paragraph;
    padding-left: $padding-left;
    padding-right: $padding-right;
    h1 {
      font-size: $title;
      text-align: center;
      padding-bottom: 50px;
      @media (max-width: 450px) {
        font-size: 40px;
      }
    }
    p {
      line-height: $article-line-height;
      font-size: $text-regular;
      padding-bottom: $padding-bottom;
      text-align: justify;
      text-justify: inter-word;
      @media (max-width: 450px) {
        text-align: start;
      }
    }
  }
}

.article-green {
  color: $ayoosteogreen;
}

.article-bold {
  font-weight: bold;
}

.article-ordered-list {
  list-style-position: outside;
  padding-left: $padding-left;
  padding-bottom: 30px;
  li {
    line-height: $article-line-height;
    font-size: $text-regular;
    max-width: $paragraph;
    padding-bottom: 10px;
  }
}

.article-unordered-list {
  list-style-position: outside;
  padding-left: $padding-left;
  padding-bottom: 30px;
  li {
    line-height: $article-line-height;
    font-size: $text-regular;
    max-width: $paragraph;
    padding-bottom: 10px;
  }
}

.article-image {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding-left: $padding-left;
    padding-right: $padding-right;
    padding-bottom: $padding-bottom;
  }
}
