//* Color Palette
$ayoosteogreen: rgb(0, 105, 69);
$ayoosteogreen2: rgb(127, 146, 90);
$ayoosteoblue: rgb(0, 137, 168);
$ayoosteoblue2: rgb(117, 144, 170);
$ayoosteoblue3: rgb(31, 29, 51);
$navcolor: #ffffff;

//* Font sizes
$title: 50px;
$intro-text: 30px;
$text-regular: 20px;

//* Text
$paragraph: 650px;
$line-height: 25px;
$article-line-height: 30px;

//* Dimensions
$padding-left: 20px;
$padding-right: 20px;
$padding-bottom: 30px;
$padding-top: 30px;

//* Buttons
$button-font-size: 17px;
$button-padding: 15px;

.italic {
  font-style: italic;
}

.temp-holder {
  padding-top: 200px;
  font-size: 200;
  text-align: center;
}

.solid {
  border-top: 3px solid #bbb;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  width: 80%;
  margin-bottom: 25px;
}

.button-green {
  font-size: $button-font-size;
  color: white;
  background-color: $ayoosteogreen;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;

  i {
    color: white;
    padding-right: 10px;
  }
}

.button-green-div:hover {
  a {
    background-color: white;
    color: $ayoosteogreen;
    border: 2px solid $ayoosteogreen;
  }
  i {
    color: $ayoosteogreen;
  }
}

.button-green-inverted {
  font-size: $button-font-size;
  color: $ayoosteogreen;
  background-color: white;
  padding: 15px;
  border: 2px solid $ayoosteogreen;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  i {
    color: white;
    padding-right: 10px;
  }
}

.button-green-inverted-div:hover {
  a {
    background-color: $ayoosteogreen;
    color: white;
    border: 2px solid $ayoosteogreen;
  }
  i {
    color: $ayoosteogreen;
  }
}

#memberships {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 100px;
  img {
    padding-left: 10px;
    padding-right: 10px;
    width: 220px;
  }
  #io-membership {
    width: 150px;
  }
}

