.blog-article-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: $padding-bottom;
  .blog-text {
    max-width: $paragraph;
    padding-left: $padding-left;
    padding-right: $padding-right;
    h1 {
      font-size: $title;
      text-align: center;
      padding-bottom: 50px;
      @media (max-width: 450px) {
        font-size: 40px;
      }
    }
    p {
      line-height: $article-line-height;
      font-size: $text-regular;
      padding-bottom: $padding-bottom;
      text-align: justify;
      text-justify: inter-word;
      @media (max-width: 450px) {
        text-align: start;
      }
    }
  }
}

.article-green {
  color: $ayoosteogreen;
}

.article-bold {
  font-weight: bold;
}

.article-ordered-list {
  list-style-position: outside;
  padding-left: $padding-left;
  padding-bottom: 30px;
  li {
    line-height: $article-line-height;
    font-size: $text-regular;
    max-width: $paragraph;
    padding-bottom: 10px;
  }
}

.article-unordered-list {
  list-style-position: outside;
  padding-left: $padding-left;
  padding-bottom: 30px;
  li {
    line-height: $article-line-height;
    font-size: $text-regular;
    max-width: $paragraph;
    padding-bottom: 10px;
  }
}

.article-image {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding-left: $padding-left;
    padding-right: $padding-right;
    padding-bottom: $padding-bottom;
  }
}
